.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Landing Page */

.main{
     display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.card{
 height: 813px;
width: 375px;
left: 1289px;
top: -523px;
border-radius: 0px;
background: #F6F2FF;


}

.top{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

.top-left{
  display: flex;
  align-items: center;
}

.top-right{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
}

.title-center{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
 
}

.image1{
height: 292px;
width: 165.63290405273438px;
left: 105px;
top: 290px;
border-radius: 13.232627868652344px;
box-shadow: 0px 0px 17.643505096435547px 0px #0000000D;


}

.event-btn{
display: flex;
align-items: center;
justify-content: center;

}

.btn-style{
  height: 50px;
width: 187px;
left: 94px;
top: 616px;
border-radius: 10px;
padding: 16px;
background: linear-gradient(90deg, #8456EC 3.25%, #d9b7df 100%);
border: none;

}


/* Event Page */

.event-details{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  padding: 4rem;
}

.event-cl{
  display: flex;
  align-items: center;
  border: none;
  width: 10%;
  height: 40px;
  background: purple;
  color: white;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  border: none;
   
}

.event-icon{
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.mytitle{
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: start;
  padding: 2rem;
  font-size: 3rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(51, 3, 51);
}

.section{
  display: flex;
  align-items: center;
  padding: 4rem;
  gap: 2rem;
  margin-top: -5rem;


  
}

.sec-left{
  display: flex;
  align-items: center;
  width: 60%;
}

.sec-right{
  display: flex;
  align-items: center;
  width: 40%;
}

.sec-img{
  width: 100%;
  display: flex;
  align-items: center;
}

.clasify1{
    text-align: left;
    margin: 2rem;
    display: block;
    align-items: center;
}

.clasify2{
  text-align: left;
  margin: 2rem;
  display: block;
  align-items: center;
}

.clasify3{
  text-align: left;
  margin: 2rem;
  display: block;
  align-items: center;
}

.clasify-int{
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  line-height: 1.45rem;
  font-size: 19px;
  background: #ede6ed;
  border: none;
}